####################################################
# Google
####################################################

GOOGLE_PLACES_API_KEY=YOUR_GOOGLE_PLACES_API_KEY

####################################################
# Yelp
####################################################

YELP_API_KEY=YOUR_YELP_FUSION_API_KEY

####################################################
# Apify
####################################################

APIFY_API_KEY=YOUR_APIFY_API_KEY

####################################################
# Supabase
####################################################

SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_KEY=YOUR_SUPABASE_ANON_KEY

####################################################
# Playwright
####################################################

HEADLESS=True

####################################################
# Paths
####################################################

EXPORT_PATH=exports
SCREENSHOT_PATH=screenshots

####################################################
# Logging
####################################################

LOG_LEVEL=INFO
